.description {
  h2 {
    margin-bottom: 24px;

    font-size: 20px;
    text-align: center;
    color: $color-blue-70;
    line-height: 140%;

    @include __620 {
      font-size: 18px;
    }
  }

  ul {
    padding-left: 24px;
    margin-bottom: 24px;
    gap: 16px;

    display: flex;
    flex-direction: column;
    list-style: auto;

    p {
      margin-bottom: 8px;
    }
  }
}
