.main {
  margin-bottom: 64px;
  @extend %flexCent;

  &__wrp {
    max-width: $width-page;
    width: 100%;

    padding-right: 16px;
    padding-left: 16px;

    display: grid;
    grid-template-columns: 3.5fr 1fr;
    gap: 0px 16px;

    @include __860 {
      display: flex;
      flex-direction: column;
    }
  }

  &__content-wrp {
    width: 100%;
  }

  &__title-wrp {
    margin-bottom: 32px;
    padding-top: 90px;

    text-align: center;

    @extend %flexCent;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 24px;
    font-weight: 700;
  }
}
