.ups-battery-selection {
  width: 100%;

  @include __860 {
    margin-bottom: 64px;
  }

  &__title-wrp {
    margin-bottom: 32px;
    padding-top: 90px;

    text-align: center;

    @extend %flexCent;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 24px;
    font-weight: 700;
  }

  &__text {
    max-width: 860px;
    width: 100%;

    font-size: 16px;
    font-weight: 400;
  }

  &__form {
    margin-bottom: 48px;

    @include __620 {
      margin-bottom: 48px;
    }
  }

  &__form-wrp {
    margin-bottom: 24px;

    gap: 24px;

    @extend %flexCentBetwin;
    flex-wrap: wrap;

    @include __620 {
      gap: 16px;

      flex-direction: column;
    }
  }

  &__form-wrp-text {
    height: 36px;
    margin-bottom: 16px;

    @extend %flexCent;
    justify-content: flex-start;

    font-size: 14px;

    gap: 8px;

    @include __620 {
      max-width: 240px;
    }
  }

  &__help-text-wrp {
    width: 276px;

    position: absolute;
    bottom: 34px;
    right: 80%;
    transform: translate(50%);

    background-color: $color-gray-100;
    border-radius: 8px;

    opacity: 0;
    visibility: hidden;

    transition: 0.3s ease-in-out;

    @include __860 {
      width: 100%;
      padding: 16px;

      transform: translate(0);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      display: flex;
      align-items: center;
      justify-content: center;

      position: fixed;

      text-align: center;

      z-index: 11;

      backdrop-filter: blur(3px);
      background-color: $color-blue-opacity-60;
      border-radius: 0;

      &.active {
        opacity: 1;
        visibility: inherit;
        transition: 0.3s ease-in-out;
      }
    }

    &::after {
      width: 24px;
      height: 24px;
      content: "";

      position: absolute;
      bottom: -12px;
      right: 44%;
      transform: rotate(-45deg);

      display: flex;

      background-color: $color-gray-100;
    }
  }

  &__help-btn-close {
    width: 30px;
    height: 30px;

    display: none;

    position: absolute;
    top: -14px;
    right: -10px;

    border-radius: 50%;
    border: 2px solid $color-blue-80;
    background-color: white;

    z-index: 11;
    @include __860 {
      display: flex;
    }
  }

  &__help-btn-line-r,
  &__help-btn-line-l {
    width: 22px;
    height: 2px;

    display: flex;

    position: absolute;
    top: 12px;
    right: 2px;

    background-color: $color-blue-80;
  }

  &__help-btn-line-r {
    transform: rotate(-45deg);
  }

  &__help-btn-line-l {
    transform: rotate(45deg);
  }

  &__help-text {
    padding: 16px;

    position: relative;

    border-radius: 8px;
    background-color: $color-gray-100;

    @include __860 {
      background-color: white;
    }
  }

  &__help-cont-wrp {
    position: relative;

    cursor: pointer;

    &:hover .ups-battery-selection__help-text-wrp {
      opacity: 1;
      visibility: inherit;
      transition: 0.3s ease-in-out;

      @include __860 {
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease-in-out;
      }
    }

    @include __860 {
      &.active > .ups-battery-selection__help-text-wrp {
        opacity: 1;
        visibility: inherit;
        transition: 0.3s ease-in-out;
      }
    }
  }

  &__form-input {
    max-width: 126px;
    height: 40px;

    padding-left: 16px;
    padding-right: 16px;

    border: 1px solid $color-gray-200;
    border-radius: 8px;

    &.error {
      border: 1px solid red;
    }

    &.disabled {
      border: 1px solid $color-gray-90;
      color: $color-gray-90;
    }

    @include __620 {
      max-width: none;
      width: 100%;
    }
  }

  &__error {
    position: absolute;
    top: 16px;

    display: none;

    font-size: 14px;
    color: red;

    &.active {
      display: flex;
    }
  }

  &__form-input-wrp {
    position: relative;

    @include __620 {
      width: 100%;
    }
  }

  &__form-switch-wrp {
    width: 36px;
    height: 24px;

    position: relative;

    display: flex;

    background-color: $color-gray-150;
    border-radius: 32px;
    cursor: pointer;

    transition: 0.3s ease-in-out;

    &.active .ups-battery-selection__form-switch {
      right: 2px;

      transition: 0.3s ease-in-out;
    }

    &.active {
      background-color: $color-gray-200;
      transition: 0.3s ease-in-out;
    }
  }

  &__form-switch {
    width: 20px;
    height: 20px;

    position: absolute;
    top: 2px;
    right: 14px;

    display: flex;

    background-color: white;
    border-radius: 50%;

    transition: 0.3s ease-in-out;
  }

  &__h2 {
    margin-bottom: 24px;

    font-size: 18px;
    text-align: center;
  }

  &__form-result-title {
    margin-bottom: 8px;
  }

  &__btn-result {
    height: 40px;

    padding-left: 24px;
    padding-right: 24px;

    border-radius: 8px;
    background-color: $color-blue-80;
    border: 1px solid $color-blue-80;
    color: white;

    transition: 0.3s;

    &:hover {
      background-color: white;
      color: $color-blue-80;

      transition: 0.3s;

      @include __620 {
        background-color: $color-blue-80;
        color: white;
      }
    }

    @include __620 {
      width: 100%;
    }
  }

  &__form-result-text {
    margin-bottom: 16px;
  }

  &__form-result-number {
    font-weight: 700;
    font-size: 18px;
  }

  &__line-sep {
    width: 100%;
    height: 1px;

    margin-bottom: 48px;

    display: flex;

    background-color: $color-gray-900;
  }
}
