@import "./module/normalize";
@import "./module/_variables.scss";
@import "./module/_mixins.scss";
@import "./module/_global.scss";
@import "./module/_header.scss";
@import "./module/_application-accepted";
@import "./module/_footer.scss";
@import "./module/ups-battery-selection";
@import "./module/percentage";
@import "./module/description";
@import "./module/main";
@import "./module/navigation";
@import "./module/home";

body {
  font-family: $font-main;
  font-size: 16px;
  color: $color-gray-900;
  line-height: 140%;
    background-color: red;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 160%;
}

html {
  overflow-x: hidden;
}
