.footer {
  width: 100%;

  @extend %flexCent;
  background-color: $color-blue-70;

  &__wrp {
    padding-top: 64px;
    padding-bottom: 64px;

    @include widthPaga;
    @extend %flexCentBetwin;

    color: white;
  }

  &__link-star-up-wrp {
    @extend %flexStartJus;
  }
}
